<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.womenshealth_cis350"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.womenshealth_cis350.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.LetsGetStarted"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.PregnantPostpartum"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.WhatToExpect"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.BenefitsOfBreastfeeding"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.LatchingCorrectly"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.Pregnant"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.Postpartum"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.BreastfeedingYes"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.GoalSetting"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.PositioningLatch"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.Pacifier"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.BabyHungry"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.womenshealth_cis350.BreastfeedingNo"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.MythBusters"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.womenshealth_cis350.CostFormula"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.example.womenshealth_cis350.TroubleShooting"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.example.womenshealth_cis350.NotEnoughMilk"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.example.womenshealth_cis350.IsPeePoop"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity><activity
            android:name="com.example.womenshealth_cis350.BabyGainingWeight"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.womenshealth_cis350.DifferentPositions"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.womenshealth_cis350.BabyGettingEnoughMilk"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.womenshealth_cis350.NippleHurts"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.womenshealth_cis350.CallProvider"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.example.womenshealth_cis350.FeelFull"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
    </application>

</manifest>